html {
  background: linear-gradient(to bottom, #f8e7ed 0%, #f2e8f8 100%);
}

body {
  font-family: sans-serif;
  /* background: url('rainbow-buttercream-frosting.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
}

.title {
  font-family: 'Satisfy', cursive;
  color: #fe00fe;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin: 2%;
  width: 25%;
  min-width: 250px;
  flex-wrap: wrap;
  align-content: center;
}

.pad {
  padding: 3%;
}

.login-field {
  padding: 0.42857em;
    width: 90%;
    box-sizing: border-box;
    justify-content: center;
    margin: 1%;
    border-radius: 6px;
    border: 1px transparent solid;
    font-size: 1em;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Nunito', sans-serif;
}

nav a:hover {
  color: rgb(47, 48, 49);
  background:#b1c9f7;
  border-radius: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  text-decoration: none;
  align-items: center;
}

.nav-items a {
  max-height: 30px;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
}

.mid-nav {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

 @media screen and (max-width: 950px) {
  .mid-nav {
    display: flex;
    justify-content: center;
    position: relative;
  }
 }

.right-nav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 730px) {
  .left-nav {
    display: none;
  }

  .right-nav {
    display: none;
  }
 }

 /* hamburger menu */
 .nav-icon {
  position: absolute;
  top: 40px;
  left: 30px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
 }

 @media screen and (max-width: 730px) {
  .nav-icon {
    display: flex;
  }
 }

 @media screen and (max-width: 420px) {
  .nav-icon {
    left: 0;
  }
 }

 .nav-icon span {
  background: #333;
  width: 30px;
  height: 2px;
  display: block;
  transition: 300ms linear all;

}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
  width: 20px ;
  margin: 0 auto;
}

.nav-icon span:nth-child(2) {
  margin: 5px 0;
  width: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
  width: 30px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.prodBtn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.prodBtn:hover {
  background: #B8CFF9;
  color: #000;
}

.admin {
  background: rgb(240, 47, 105);
}

.admin:hover {
  background: rgb(240, 156, 181);
}

.buttonC {
  border: none;
  outline: none;
  height: 40px;
  background: #81a0da;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
}

.buttonC:hover {
  background: #B8CFF9;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shippingInfo {
  margin-left: 3%;
}

.purchasing {
  border: 1px solid #362f47;
  border-radius: 10px;
  background: rgb(230, 173, 207, 0.3);
  margin: 2%;
  padding: 2%;
}

.purchasing h2 {
  margin: 2%;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.purchasing h3 {
  display: flex;
  justify-content: center;
}

.purchasing p {
  color: rgb(15, 54, 88);
  display: flex;
  justify-content: center;
}

.purchasing .card {
  height: 450px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchasing .card-container {
  display: flex;
  justify-content: center;
}

/* .checkout {
  margin-left: 40%;
  margin-right: 40%;
} */

.header {
  background-color: #dfb3bd;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: Chalkduster, fantasy;
}

.header h3 {
  font-family: Chalkduster, fantasy;
}

.singleProduct_page {
  font-family: Chalkduster, fantasy;
  padding: 1rem;
  justify-content: center;
}

.singleProduct_container {
  display: flex;
  justify-content: center;
}

.left-box {
  border-right: 1em solid #dfb3bd;
  display: flex;
  justify-content: center;
}

.right-box {
  padding: 5%;
}

.singleProduct_image img {
  /* max-width: 550px; */
  max-width: 100%;
}

.quantity_change {
  display: flex;
  justify-content: center;
}

#cart h3 {
  background-color: rgba(26, 155, 194, 0.824);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: Chalkduster, fantasy;
  text-shadow: 1px 1px grey;
}

#main-header {
  background-color: rgba(26, 155, 194, 0.824);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: Chalkduster, fantasy;
}

.cartproducts {
  font-family: Chalkduster, fantasy;
  text-shadow: 1px 1px white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
}

#cart_total {
  font-family: Chalkduster, fantasy;
  padding: 1rem;
  text-shadow: 1px 1px white;
}

.field {
  padding: 0.42857em;
  width: 30%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px transparent solid;
  font-size: 1em;
}

.product-field {
  padding: 0.42857em;
  width: 60%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px blue solid;
  font-size: 1em;
}

:required {
  border-color: rgb(48, 242, 58);
}

:invalid {
  border-color: red;
}

:required:focus:valid {
  background: url('https://clipartart.com/images/area-check-clear-clipart-1.jpg')
    no-repeat 95% 50%;
  background-size: 25px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 3rem;
  padding: 1rem;
  font-family: Chalkduster, fantasy;
}

.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  width:300px;
  border-radius: 15px 15px 0 0;
  filter: opacity(95%);
}

.card:hover {
  filter: none;
}

.card h3 {
  display: flex;
  justify-content: center;
}

.checkout-card-container {
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}


.checkout-card {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  width: 180px;
  height: 270px;
}

.checkout-card ol {
  padding: 0;
}

.newProd {
  margin-bottom: 4%;
}

.all-product-container {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  word-spacing: -1.4px;
  color: #c46aa6;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.all-prod-img {
  width: 300px;
  max-height: 380px;
  min-height: 300px;
  border-radius: 15px 15px 0 0;
}

.product-price {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: 0.6px;
  word-spacing: -1.4px;
  color: #a169c1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin: 10%;
}

.product-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  letter-spacing: -0.2px;
  word-spacing: 2.4px;
  line-height: 2;
  color: #5c0b70;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  margin: 10%;
}

.singleProduct-description {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #5c0b70;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.tags {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 8%;
}

.orderHistory {
  margin-bottom: 5%;
}

.history-card {
  border: 2px solid #362f47;
  border-radius: 10px;
  background: #B8CFF9;
  height: fit-content;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2%;
}

.history-info {
  background: #8eb0f0;
}

.history {
  width: 100px;
  height: 280px;
  margin: 10% .25% 1% .25%;
}

#navBar-container {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #362f47;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

.navbar {
  /* background: linear-gradient(to left, #ba7453, #d1a984); */
  background: #B8CFF9;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border: none;
  outline: 0;
  padding: 12px;
  width: 100%;
  border-bottom: 1em solid #81a0da;
}

.navbar a {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #d2dff7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filteredRes {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  font-family: 'Nunito', sans-serif;
  color: #362f47;
  flex-flow: wrap;
}

.slidecontainer {
  width: 30%;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  background: rgb(230, 173, 207, 0.3);
  padding: 2em;
  min-width: 200px;
}


.slider {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: #B8CFF9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #81a0da;
  cursor: grab;
}

.slider::-webkit-slider-thumb:active {
  width:22px;
  height: 28px;
  background: #6081bd;
  cursor: grabbing;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #81a0da;
  cursor: pointer;
}

.main-img {
  background: url("cupcake.png") no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  width:100%;
  border: none;
  border-bottom: .5em solid #cc89b0;
  outline: 0;
  padding: 12px;
  display: flex;
  font-size: xx-large;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5%;
}

.cupcake-img {
  background: url("cupcakes.png") no-repeat center center fixed;
  color: black;
}

.cookie-img {
  background: url("cookies.png") no-repeat center center fixed;
  color: black;
}

.chocolate-img {
  background: url("chocolates.png") no-repeat center center fixed;
  background-size: cover;
}

.cakepop-img {
  background: url("cakepops.png") no-repeat center center fixed;
  background-size: cover;
}
